.hidden {
    color: transparent;
}

body {
    background-color: #09f3a5;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: cursive;
    color:#fff;
}
#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}

#botonInicio {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #553c35;
    border: 1px solid #333232;
    color: rgb(233, 211, 17);
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;/*Espacio entre letras*/
    transition: transform 20ms ease-in;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(226, 248, 24, 0.952);
  }
button:active {
	transform: scale(0.95);/*Transforma la escala del botón a 0.95 (más chico)*/
}